# Logs
*-log.csv
*-log.txt
*-log-*.csv
*-log-*.txt
*log.txt
*log.csv
simulation-*.log

# Generated data
Metadata/
biomass/
biomass-succession/
1_bms_af_bl/
harvest/
bda/
output_*.json
output_SOSIEL_Harvest*
wind/
